/*
 * SPDX-FileCopyrightText: 2017 Yihui Xie
 * SPDX-FileCopyrightText: © 2020 Carmen Bianca Bakker <carmen@carmenbianca.eu>
 *
 * SPDX-License-Identifier: MIT
 */

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  font-family: Noto Sans, Arial, sans-serif;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
}

details[open] {
  padding-bottom: 0.5em;
}

details > summary {
  background-color: #ccc;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Noto Sans, Arial, sans-serif;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
}


/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
